.App {
  text-align: center;
}
#top {
  text-align: center;
  background-color: black;
  color: white;
  height: 5em;
  vertical-align: middle;
  padding: 2.5em;
  margin-bottom: 2.5em;
  z-index: 1;
}
#content {
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  background-color: black;
  padding: 2em;
}
#bottom {
position: fixed;
bottom: 0;
background-color: black;
color: white;
text-align: right;
margin: auto;
display: block;
width: 100%;
}
#footerMark {
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#boxx {
  transform: rotate(45deg);
  position: absolute;
  top: -2.5em;
  left: -5em;
  transform-origin: 0 100%;
  width: 7.5em;
  height: 7.5em;
  background-color: white;
  z-index: 2;
}